* {
  font-family: "Avenir";
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}

hr {
  border-color: #2c2c2c;
}

i {
  font-size: 20px;
}

body {
  overflow-y: hidden;
}

.main_app {
  display: flex;
  overflow: hidden;
}

.main_app_tasks {
  margin-left: 340px;
  margin-right: 250px;
  height: 100vh;
  width: fit-content;
  overflow-x: scroll;
}

.main_app_tasks_kanban {
  width: calc(100vw - 341px - 250px);
  margin-top: 60px;
  display: flex;
}

.main_app_nav {
  z-index: 100;
  position: fixed;
  width: 340px;
  min-height: 100vh;
  padding: 10px 15px;
  border-right: #2c2c2c solid 1px;
  background-color: #141415;
  box-shadow: inset -15px 0 9px -7px rgba(0, 0, 0, 0.5);
}

.group_name_title_container {
  width: 300px;
  height: 40px;
  display: flex;
}

.group_name_title {
  font-family: "Avenir";
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #e6e6e6;
}

.group_name_btn {
  font-weight: 900;
  font-size: 8px;
  width: 16px;
  height: 32px;
  color: #e6e6e6;
}

.date_picker_container {
  z-index: -1;
  width: 300px;
  font-size: 11px;
}

.collapse_left_btn {
  position: relative;
  padding: 10px;
}

.calendar_times {
  &::after {
    content: "";
    display: inline-block;
    border-top: 1px solid #2c2c2c;
    width: 100%;
    margin: 0 -100% 1.5% 5px;
  }
}
.tasks_nav_bar {
  color: #e6e6e6;
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 330px - 250px);
  height: 60px;
  background-color: #141415;
  border-bottom: solid #2c2c2c 1px;
}

.nav_btn_active {
  border-bottom: solid rgba(255, 255, 255, 0.5) 5px;
}

.tasks_btn {
  color: #e6e6e6;
}

.channel_selector_container {
  width: 100%;
  padding: 10px 15px;
  transition: ease-in-out 0.2s;
  height: fit-content;
  &:hover,
  &:focus {
    background-color: #55cd7c;
    color: #141415;
    .channel_icon {
      color: #141415;
    }
  }

  &:active {
    background-color: rgb(53, 122, 76);
    color: #e6e6e6;
    .channel_icon {
      color: #e6e6e6;
    }
  }
}

.channels_title {
  font-family: "Avenir";
  font-weight: 600;
  font-size: 12px;
  margin: 10px;
}

.task_channel_title {
  font-family: "Avenir";
  font-weight: 600;
  font-size: 20px;
}

.channel_selector_choice {
  text-transform: lowercase;
}

.channel_icon {
  transition: ease-in-out 0.2s;
  color: #55cd7c;
}

.toggle_icon {
  text-transform: lowercase;
}

.calendars_title {
  font-family: "Avenir";
  font-weight: 600;
  font-size: 12px;
  margin: 15px 10px;
}

.kanban_day_date_dotm {
  color: #a0a0a0;
}

.add_task_container {
  background-color: #232325;
  &_content {
    background-color: #232325;
  }
  .add_task_icon {
    fill: #585859;
  }
  .add_task_text {
    color: #232325;
  }
}

#today {
  .add_task_container {
    background-color: #232325;
    &_content {
      background-color: #232325;
    }
    .add_task_icon {
      fill: #585859;
    }
    .add_task_text {
      color: #9d9d9d;
    }
  }

  .task_progress {
    background-color: #1f1f1e;

    &_bar {
      background-color: #4dcd7d;
    }
  }
}

.today_btn {
  font-size: 14px;
  p {
    margin: 0;
  }
}

.before_today {
  .kanban_day_date_dotw {
    color: #868686;
  }
  .kanban_day_date_dotm {
    color: #5a5a5a;
  }
  .task_progress {
    background-color: #141415;
    &_bar {
      background-color: #141415;
    }
  }
  .add_task_container {
    background-color: #1c1c1d;
    &_content {
      background-color: #1c1c1d;
    }
    .add_task_icon {
      fill: #3b3b3b;
    }
    .add_task_text {
      color: #1c1c1d;
    }
  }
}
